<!-- Row -->
<div class="row" style="margin-bottom:50px;">
  <!-- Dashboard Box -->
  <div class="col-xl-12">

    <div class="dashboard-box margin-top-0">

      <!-- Headline -->
      <div class="headline">
        <h3><i class="icon-feather-folder-plus"></i> Add New Wordpress</h3>
      </div>

      <div *ngIf="state.isCompleted" class="row">
        <div class="col-xl-12">
            <div  class="notification success closeable">
                <p>Wordpress added successfully !</p>
                <a (click)="state.isCompleted = false" class="close"></a>
              </div>
        </div>
      </div>

      <div class="content with-padding padding-bottom-10">
        <form (ngSubmit)="addWordpress(f)" #f="ngForm" >

          <div class="row">

            <div class="col-xl-4">
              <div class="submit-field">
                <h5>Wordpress Name</h5>
                <input ngModel name="wpName" type="text" class="with-border" placeholder="Wordpress name" required>
              </div>
            </div>

            <div class="col-xl-4">
              <div class="submit-field">
                <h5>API Url</h5>
                <input ngModel name="apiURL" type="text" class="with-border" placeholder="API Url" required>
              </div>
            </div>

            <div class="col-xl-4">
              <div class="submit-field">
                <h5>Authorization Key</h5>
                <input ngModel name="authKey" type="text" class="with-border" placeholder="Authorization Key" required>
              </div>
            </div>

            <div class="col-xl-4">
              <div class="submit-field">
                <h5>Video Meta</h5>
                <input ngModel name="videoMeta" type="text" class="with-border" placeholder="Video Meta Name" required>
              </div>
            </div>

            <div class="col-xl-4">
              <div class="submit-field">
                <h5>Tag List</h5>
                <input ngModel name="tagList" type="text" class="with-border" placeholder="Tag List">
              </div>
            </div>

            <div class="col-xl-4">
              <div class="submit-field">
                <h5>Category List</h5>
                <input ngModel name="catList" type="text" class="with-border" placeholder="Category List">
              </div>
            </div>

            <div class="col-xl-4" style="vertical-align: middle;  line-height: 120px;">
              <div class="checkbox">
                <input ngModel name="languageIsRequired" type="checkbox" id="two-step" checked="">
                <label for="two-step"><span class="checkbox-icon"></span> Language Conversion</label>
              </div>
            </div>

            <div class="col-xl-4">
              <div class="submit-field">
                <h5>Source Language</h5>
                <select ngModel name="sourceLang" class="selectpicker with-border" data-size="7"
                  title="Select Language">
                  <option>en-US</option>
                  <option>en-RU</option>
                </select>
              </div>
            </div>

            <div class="col-xl-4">
              <div class="submit-field">
                <h5>Source Language</h5>
                <select ngModel name="destLang" title="Select Language">
                  <option>en-US</option>
                  <option>en-RU</option>
                </select>
              </div>
            </div>

            <div class="col-xl-4" style="vertical-align: middle;  line-height: 120px;">
              <div class="checkbox">
                <input ngModel name="suffixReq" type="checkbox" id="suffix" checked="">
                <label for="suffix"><span class="checkbox-icon"></span> Append Suffix</label>
              </div>
            </div>

            <div class="col-xl-8">
              <div class="submit-field">
                <h5>Suffix List</h5>
                <input ngModel name="suffixList" type="text" class="with-border" placeholder="Suffix List">
              </div>
            </div>

            <div class="col-xl-4">
              <div class="submit-field">
                <h5>Title File</h5>
                <select [(ngModel)]="titleFile" name="titleFile" class="selectpicker with-border" data-size="7"
                  title="Select Title File">
                  <option *ngFor="let title of state.title" [ngValue]="title.fileName">{{title.fileName | uppercase}}</option>
                </select>
              </div>
            </div>

            <div class="col-xl-4">
              <div class="submit-field">
                <h5>Description File</h5>
                <select [(ngModel)]="descFile" name="descFile"  class="selectpicker with-border" data-size="7"
                  title="Select Description File">
                  <option *ngFor="let desc of state.descriptions"
                     [ngValue]="desc.fileName">{{desc.fileName | uppercase }}</option>
                </select>
              </div>
            </div>

            <div class="col-xl-12">
              <div class="submit-field">
                <div class="uploadButton margin-top-30">
                  <input class="uploadButton-input" type="submit" id="upload" multiple />
                  <label class="uploadButton-button ripple-effect" for="upload">Save Wordpress</label>
                </div>
              </div>
            </div>

          </div>

        </form>


      </div>
    </div>



  </div>
  <!-- End Dashboard box -->
</div>
<!-- End row -->