<div class="row" style="margin-bottom:50px;">

  <!-- Dashboard Box -->
  <div class="col-xl-12">
    <div class="dashboard-box margin-top-0">

      <!-- Headline -->
      <div class="headline">
        <h3><i class="icon-material-outline-business-center"></i> Connected Wordpress Sites</h3>
      </div>

      <div *ngIf="state.deleteSuccess" class="row">
        <div class="col-xl-12">
          <div class="notification success closeable">
            <p>Wordpress deleted successfully !</p>
            <a (click)="state.deleteSuccess = false" class="close"></a>
          </div>
        </div>
      </div>

      <div class="content">
        <ul class="dashboard-box-list">
          <li *ngFor="let wp of state.connectedWp">
            <!-- Job Listing -->
            <div class="job-listing">

              <!-- Job Listing Details -->
              <div class="job-listing-details">

                <!-- Logo -->
                <!-- 											<a href="#" class="job-listing-company-logo">
                    <img src="images/company-logo-05.png" alt="">
                  </a> -->

                <!-- Details -->
                <div class="job-listing-description">
                  <h3 class="job-listing-title"><i class="icon-feather-archive
                    "></i> {{wp.name}}</h3>

                  <!-- Job Listing Footer -->
                  <div class="job-listing-footer">
                    <ul>
                      <li><i class="icon-material-outline-folder-shared"></i> {{wp.api}}</li>
                      <li><i class="icon-material-outline-archive"></i> {{wp.meta}}</li>
                      <li><i class="icon-material-outline-account-balance-wallet"></i> {{wp.titleFile}}</li>
                      <li><i class="icon-material-outline-account-balance-wallet"></i> {{wp.descFile}}</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <!-- Buttons -->
            <div class="buttons-to-right always-visible">

              <a href="" class="button ripple-effect"><i class="icon-material-outline-history"></i> Update Hourly
                Limit</a>
              <a (click)="deleteWordpress(wp.id)" style="margin-left:10px;" class="button gray ripple-effect ico"
                data-tippy-placement="top" data-tippy="" data-original-title="Remove"><i
                  class="icon-feather-trash-2"></i></a>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </div>

</div>